body {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-image: url('../img/wallpaperflare.com_wallpaper2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

.app-content{
    padding: 20px 30px;
    margin: 0 auto;
    box-shadow: rgba(247, 246, 246, 0.25) 0px 30px 60px -12px inset, rgba(243, 242, 242, 0.3) 0px 18px 36px -18px inset;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

button {
    background-color: #333974;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.6s;
}

button:hover {
    opacity: 1;
}