.complete {
    background-color: aquamarine;
    margin-right: 10px;
}

.remove {
    background-color: brown;
}

.todo-list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

.todo {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background: linear-gradient(#0000008f, #0000004f);
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 650px;
}

